$background: #f4f4f4;
$header: #0b2644;
$primary: #8da7c4;
$blue: #5998b0;
$green: #38a700;
$red: #ce3e2b;
$grey: #94a89a;
$purple: #5c415d;
$yellow: #fffc31;
$kakin: #f6ddb1;
$tag: black;
$tag-back: #c7e4ff;
