// Color code.

$blue: #5998b0;
$green: #70c442;
$red: #ce3e2b;
$orange: #ed7c3b;
$grey: #94a89a;
$purple: #826bbf;
$yellow: #fffc31;
$brown: #b59256;
$font: grey;

$primary: #fff;
$secundary: #8a2d3a;
$tertiary: #000;
