.filter__container {
  display: flex;
  flex-direction: row;

  @include size($filter, max-width) {
    flex-direction: column;
    display: flex;
    margin: 1em auto;
    width: 60%;
  }
  li {
    width: 100%;
    margin-right: 0.2em;

    button {
      width: 100%;

      cursor: pointer;
      color: white;
      transition: 0.3s;
      background: #a5a5a5;
      padding: 0.6em;
      white-space: nowrap;
      &:hover {
        opacity: 0.7;
      }
      &:focus {
        outline-color: transparent;
      }
      border: 0;
      transition: 0.6s ease-in;
    }
    @include color-code();
  }
}
