.filter__container {
  display: flex;
  flex-direction: row;
  margin: 0 0 1.6em 1.6em;

  li {
    margin-right: 0.2em;
    button {
      background: lightgreen;
      border: 0;
      cursor: pointer;
    }
  }
}
