$background: #edf0f4;
$header: #0b2644;
$primary: #8da7c4;
$blue: #5998b0;
$green: #38a700;
$red: #ce3e2b;
$grey: #94a89a;
$purple: #5c415d;
$yellow: #fffc31;
$tag: black;
$tag-back: #c7e4ff;
$box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8,
  1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
body {
  background: $background;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 5em;
  min-height: 100%;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
