body {
  background: $background;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 5em;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
.fade-out {
  opacity: 0;
  visibility: hidden;
}
.fade-in {
  opacity: 1;
  visibility: visible;
}
