.home-mobile {
  display: block;
  text-align: center;
  padding: 2em;
  a {
    color: $secundary;
    font-size: 1.3em;
  }
  @include size($screen-tablet, min-width) {
    display: none;
  }
}
.header {
  display: none;
  padding: 1.5em 0;
  font-size: 1em;
  margin: 1em 0;
  @include size($screen-tablet, min-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  a {
    color: $secundary;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
    &:hover {
      opacity: 0.6;
      border-bottom: 2px solid black;
    }
  }
}
