$screen-xs: 375px;
$screen-s: 425px;
$filter: 515px;
$screen-tablet: 764px;
$screen-laptop: 1024px;

@mixin size($screen, $maxmin) {
  @media ($maxmin: #{$screen}) {
    @content;
  }
}
@mixin separator {
  content: "";
  height: 1px;
  background: $tertiary;
  display: block;
  position: relative;
  @content;
}
@mixin color-code {
  .Royal {
    background: $brown;
  }
  .Bodyguards {
    background: $blue;
  }
  .Dark {
    background: $green;
  }
  .Zodiacs {
    background: $red;
  }
}
