$tag: #002a66;
$tag-back: #c7e4ff;

@mixin tag-bubble($back, $col) {
  background: $back;
  border-radius: 10px;
  transition: 1s;
  padding: 5px 10px;
  a {
    color: $col;
  }
  &:hover {
    background: darken($back, 10%);
  }
}

.taglist {
  display: flex;
  flex-flow: row wrap;
  li {
    @include tag-bubble($tag-back, $tag);
  }
}
.tags__container {
  margin-left: 2em;
  h3 {
    margin-bottom: 2em;
  }
}
.to-all-tags {
  margin: 1em 0;

  @include tag-bubble(#d83a3a, #510a0a);
}
