@mixin tag-bubble($tag-background) {
  background: $tag-background;
  border-radius: 10px;
  transition: 1s;
  padding: 5px 10px;
  color: white;
  &:hover {
    background: lighten($tag-background, 13%);
  }
}

.taglist {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  li {
    margin-top: 9px;
  }
  .bodyguard {
    @include tag-bubble($blue);
  }
  .hunter {
    @include tag-bubble($orange);
  }
  .dark {
    @include tag-bubble($green);
  }
  .kakin {
    @include tag-bubble($brown);
  }
  .prince {
    @include tag-bubble($purple);
  }
  .zodiac {
    @include tag-bubble($red);
  }
}
.tags__container {
  margin-left: 2em;
  h3 {
    margin-bottom: 2em;
  }
}
.to-all-tags {
  margin: 1em 0;

  @include tag-bubble(darken($primary, 20%));
}
