@mixin tag-bubble($back, $col) {
  background: $back;
  border-radius: 10px;
  transition: 1s;
  padding: 5px 10px;
  a {
    color: $col;
  }
  &:hover {
    background: darken($back, 10%);
  }
}

.taglist {
  display: flex;
  flex-flow: row wrap;
  .bodyguard {
    @include tag-bubble($tag-back, $tag);
  }
  .hunter {
    @include tag-bubble($blue, $tag);
  }
  .expedition {
    @include tag-bubble($green, $tag);
  }
  .kakin {
    @include tag-bubble($red, $tag);
  }
  .prince {
    @include tag-bubble($purple, $tag);
  }
  .queen {
    @include tag-bubble($grey, $tag);
  }
  .zodiac {
    @include tag-bubble($yellow, $tag);
  }
}
.tags__container {
  margin-left: 2em;
  h3 {
    margin-bottom: 2em;
  }
}
.to-all-tags {
  margin: 1em 0;

  @include tag-bubble(#d83a3a, #510a0a);
}
